  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{{ page.title | default: "Causable" }}</title>
      <meta name="description" content="{{ page.description | default: 'Causable supports innovation in business, science and society.' }}">

      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="theme-color" content="#fffcfc">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="/assets/styles.css?v={{ render.assetVersion }}">
  </head>
