---
title: "Causable - About"
description: "Causable supports innovation in business, science and society."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section class="container mx-auto px-4 max-w-3xl py-10">
        <h1 class="text-4xl font-serif balanced">
          About
        </h1>

        <p class="mt-8 text-xl max-w-xl">
          Dr. Silvia Maier’s consultancy and product management practice spans
          product development and digitalization (B2B and B2B2C) in tech startups,
          SMEs, corporates, the public sector, as well as research and innovation
          in science and education. With entrepreneurs and cross-functional teams,
          she developed data science and service business models, SaaS products and
          IoT solutions. She specializes in improving processes and organizational 
          structures to enable smoother collaboration between engineering and 
          product/sales/business organizations for faster delivery of relevant outcomes.
        </p>

       <p class="mt-8 text-xl max-w-xl">
          She advises product teams and develops organizational and leadership structures
          to make services work. As a product manager, together with a team of hardware
          and software engineers, designers and data scientists she has for example been
          building an <a class="underline" href="https://sensirion-connected.com/solutions/nubo-sphere/">IoT solution for emissions monitoring</a>.
        </p>

        <p class="mt-8 text-xl max-w-xl">
          She also serves at <a class="underline" href="https://www.cedac.ch/team/">Cedac AG</a>, 
          to assess the fit and development potential of candidates for roles from team lead to C-Level 
          in major private companies and public institutions.
        </p>

      </section>

      <section class="container mx-auto px-4 max-w-3xl py-10">
        <div class="flex flex-col md:flex-row-reverse gap-10 lg:-ml-20">
          <div class="flex-1 text-xl">
            <p class="max-w-xl pb-3">
              As a
              <a class="underline" href="https://silviamaier.de/">researcher in Neuroeconomics</a>
              at University and ETH Zurich,
              she investigated how the human brain brings about self-regulation,
              stress resilience and decision-making and enjoyed collaborations
              with teams across Europe, the US and Asia. Together with Dr. Marcus Grüschow,
              she was recognized with the inaugural UZH Postdoc Team Award.
            </p>
            <p class="flex-1 text-xl max-w-xl">
              And while brains are great, she also embraces pragmatic approaches and profits from the hands-on professional traineeship at the start of her first career as a journalist and editor.
            </p>
          </div>

          <div class="flex-1">
            <picture class="block">
              <img
                class="w-full"
                src="/assets/silvia_maier_uzh_magazin.jpg"
              >
            </picture>
            <div class="text-md text-dark py-1">
              Foto: © Sprecher Cortellini für <a href="https://issuu.com/uzhch/docs/uzh_magazin_2_23/42">UZH Magazin</a>
            </div>
          </div>
        </div>


        <h2 class="mt-20 text-3xl font-serif balanced">
          Committed to serving public communities
        </h2>

        <p class="mt-8 text-xl max-w-xl">
          Silvia Maier is an elected member of the first cohort of the
          <a class="linked-text" href="https://swissyoungacademy.ch/en/mitglieder/">Swiss Young Academy (2020-2025)</a>
          , in 2023-2024 serves as Vice Speaker of the Executive Board for the SYA,
          is part of the
          <a class="linked-text" href="https://swissyoungacademy.ch/en/laufende-projekte/projekt-7/">Swiss Young Network for Science Policy and Diplomacy</a>
          , and led the project
          <a class="linked-text" href="https://swissyoungacademy.ch/en/laufende-projekte/projekt-2/">„Who gets heard?“</a>
          on how scientific experts are selected
          to speak and can better convey their insights in hearings of the
          Swiss National Parliament.
        </p>

        <p class="mt-8 text-xl max-w-xl">
          She is an advisory board member for the
          <a class="linked-text" href="https://franxini.reatch.ch/en">Franxini project</a>
          of the Swiss Think Tank
          <a class="linked-text" href="https://reatch.ch/?lang=de">Reatch</a>
          that teaches scientists and political
          practitioners each other’s languages and fosters better communication of
          scientific insights to inform policy making.
        </p>

        <p class="mt-8 text-xl max-w-xl">
          Curiosity and sharing keep her going: She studies and teaches what enables good decisions on wicked questions. Her dream for Causable is to grow it into a platform and community for training and exchange on how to develop and implement solutions to the complex challenges arising in the great transformation towards an ecologically, socially, and individually sustainable future.
        </p>

      </section>

      <section class="container mx-auto max-w-3xl px-4 py-5 bg-clay1 mt-10 mb-20">
        <h3 class="text-xl font-serif balanced">
          Causable works with
        </h3>
        <p class="text-xl">
          <br><a class="linked-text nowrap" href="https://cedac.ch">Cedac</a>
          <br><a class="linked-text nowrap" href="https://www.evakaul.de/">Eva Kaul</a>
          <br><a class="linked-text nowrap" href="https://www.arne-reis.com/">Arne Reis</a>
          <br><a class="linked-text nowrap" href="https://digital-boutique.ch">Digital Boutique</a>
        </p>
      </section>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
