---
title: "Causable Training - Cross-functional leadership bootcamp"
description: "This is a hands-on practical course for those who want to move from silos to cross-functional teams."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[120px] py-16">
          <img
            class="w-full"
            src="/assets/icons/icon_turnaround.svg"
            width="211px"
            height="225px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-8">
        <h1 class="text-4xl font-serif balanced">
          Cross-functional leadership bootcamp
        </h1>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-14">
        <h2 class="text-3xl font-serif pb-4">
          Content summary
        </h2>
        <p class="pb-2 text-lg max-w-xl">
          This is a hands-on practical course for those who want to move from silos to cross-functional teams and would like to onboard both the designated leaders and the team to a new mode of working together to deliver outcomes for a certain value stream.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          How can you create a product or innovative solution with a cross-functional team? Which roles & expertises do you need on your team, how do you know whether individuals fit, and how to help them make an impact towards the common goal?
        </p>
        <p class="pb-2 text-lg max-w-xl">
          We are talking basics of building and guiding those teams, defining roles and responsibilities, building and prioritizing a roadmap, holding each other accountable to deliver outcomes and learn how to use tools to improve team cognitions so that all members know what to expect from each other and that they can rely on each other.
        </p>
      </section>

      <div class="bg-autumn1 rotate-1 h-[100px] -mb-10"></div>
      <div class="bg-autumn1">

        <section class="container mx-auto px-4 max-w-3xl pt-4">
          <div class="flex flex-row gap-6 md:gap-16">
            <div class="flex-1">
              <h3 class="pb-3 text-xl">
                Modules
              </h3>
              <div class="mb-5 grid grid-cols-[20px_minmax(0,_1fr)] gap-1">
                <div class="text-lg">1</div>
                <p class="pb-2 text-lg max-w-lg">
                  Responsibilities in the team: roles, mandates, and accountability
                </p>
                <div class="text-lg">2</div>
                <p class="pb-2 text-lg max-w-lg">
                  Individual strenghts and development paths: what do collaborators contribute?
                </p>
                <div class="text-lg">3</div>
                <p class="pb-2 text-base max-w-lg">
                  Roadmaps: How to construct and (re-)prioritze them
                </p>
                <div class="text-lg">4</div>
                <p class="pb-2 text-lg max-w-lg">
                  Team cognitions: How to learn to work better together
                </p>
              </div>

              <h3 class="pb-2 text-xl">
                Basic format
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                4 x ½ day or 2 x 1 day<br>
                online or in person<br>
                Preferably with the whole team and its designated leaders
              </p>

              <h3 class="pb-2 text-xl">
                Participants
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Min 5, max 12
              </p>

              <h3 class="pb-2 text-xl">
                Upgrade
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Individuals can bring a current leadership challenge and book individual coaching sessions and/or team workshops in between the course days with training input in order to find and reflect on their solutions together under supervision.
                Please ask for an individually tailored package.
              </p>
            </div>
          </div>
        </section>

        <section class="js-contact container mx-auto px-4 max-w-3xl pb-24">
          <div
            class="max-w-xl rounded-3xl py-4"
          >
            <div class="js-contact-btn cursor-pointer">
              <h3 class="text-2xl pb-3">
                Interested in this training?
              </h3>
              <p class="text-secondary3 underline">
                Get in touch
              </p>
            </div>
            <div class="js-contact-form hidden mt-4 text-left text-xl bg-clay1 rounded-2xl">
              {% include 'includes/_contact-form.liquid' checked: 'training' %}
            </div>
          </div>
        </section>

      </div>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
