---
title: "Causable Training - Curageous Communication"
description: "Curageous Communication: Keeping your integrity while navigating conflicting interests and wishes to improve upon structural issues."
isDraft: true
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[100px] py-12">
          <img
            class="w-full"
            src="/assets/icons/icon_idea.svg"
            width="130px"
            height="201px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-8">
        <h4 class="text-lg">
          Fall 2023 / Spring 2024
        </h4>
        <h1 class="text-4xl font-serif balanced">
          Courageous communication:
          Keeping your integrity while navigating conflicting interests and wishes to improve upon structural issues
        </h1>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-14">
        <h2 class="text-3xl font-serif pb-4">
          Content summary
        </h2>
        <p class="pb-2 text-lg max-w-xl">
          Some issues just are hairy and some environments are harder to navigate than the textbook suggests. Or as an international leader once put it in our conversation: „The idea of the Harvard concept to negotiate based on interests not positions and to be gentle to humans but firm about the cause is a nice aspiration – but I’ve rarely seen it used in practice when the stakes are high.“
        </p>
        <p class="pb-2 text-lg max-w-xl">
          What to do about this? How can you keep your personal values and integrity intact, while at the same time acknowledging the needs of the situation in which others also push for their preferred solution without starting to mutually explore the problem space together with you?
        </p>
        <p class="pb-2 text-lg max-w-xl">
          Generating solutions in such situations is protracted, and more often than not, you won’t be in a position to remedy the circumstances as such. But there are ways to keep your integrity and at the sime time find your way through this maze, acknowledging the needs and interests of others in this situation and broker viable solutions that don’t end up in a foul compromise.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          This course is for those who say „I don’t want to lead people because it’s all politics“, but who feel the itch that they actually would like to be heard in their collaborations. And for those, who would like to get heard as subject matter experts in political advisory situations.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          Your impetus is right: when you are invited, your voice deserves to be heard in the room, because your perspective is needed. This course is meant to equip you with the tools to be prepared, so you can be courageous and have these conversations. Together, we work on the form, stance, and tools how to make your point productively and foster mutual learning, even in adverse circumstances.
        </p>
      </section>

      <div class="bg-autumn1 rotate-1 h-[100px] -mb-10"></div>
      <div class="bg-autumn1">

        <section class="container mx-auto px-4 max-w-3xl pt-4">
          <div class="flex flex-row gap-6 md:gap-16">
            <div class="flex-1">
              <h3 class="pb-3 text-xl">
                Modules
              </h3>

              <div class="mb-5 grid grid-cols-[20px_minmax(0,_1fr)] gap-1">
                <div class="text-lg">1</div>
                <p class="pb-2 text-lg max-w-lg">
                  Your integrity and affirming your boundaries
                </p>
                <div class="text-lg">2</div>
                <p class="pb-2 text-lg max-w-lg">
                  Techniques to find counsel and to connect with the other side even in power asymmetries
                </p>
                <div class="text-lg">3</div>
                <p class="pb-2 text-base max-w-lg">
                  Mapping and understanding your stakeholders
                </p>
                <div class="text-lg">4</div>
                <p class="pb-2 text-lg max-w-lg">
                  Perspective taking and brokering solutions
                </p>
              </div>

              <h3 class="pb-2 text-xl">
                Basic format
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                4 x ½ day or 2 x 1 day<br>
                online or in person
              </p>

              <h3 class="pb-2 text-xl">
                Participants
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Min 5, max 12
              </p>

              <h3 class="pb-2 text-xl">
                Upgrade
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Individuals or teams can bring a current collaboration challenge and book individual coaching sessions and/or team workshops in between the course days with training input in order to find and reflect on their solutions together under supervision.
                Please ask for an individually tailored package.
              </p>
            </div>
          </div>
        </section>

        <section class="js-contact container mx-auto px-4 max-w-3xl pb-24">
          <div
            class="max-w-xl rounded-3xl py-4"
          >
            <div class="js-contact-btn cursor-pointer">
              <h3 class="text-2xl pb-3">
                Interested in this training?
              </h3>
              <p class="text-secondary3 underline">
                Get in touch
              </p>
            </div>
            <div class="js-contact-form hidden mt-4 text-left text-xl bg-clay1 rounded-2xl">
              {% include 'includes/_contact-form.liquid' checked: 'training' %}
            </div>
          </div>
        </section>

      </div>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
