---
title: "Causable - Training"
description: "Training: Facilitation tools for leadership and collaboration."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[100px] py-12">
          <img
            class="w-full"
            src="/assets/icons/icon_idea.svg"
            width="130px"
            height="201px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-8">
        <h4 class="text-lg">
          Fall 2023 / Spring 2024
        </h4>
        <h1 class="text-4xl font-serif">
          Facilitation tools for leadership and collaboration
        </h1>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-14">
        <h2 class="text-3xl font-serif pb-4">
          Content summary
        </h2>
        <p class="pb-2 text-lg max-w-xl">
          Have you been part of meetings that dragged on forever, but achieved little in the end? In this course, you will learn how you can use established facilitation methods to enable good communication and collaboration in teams, particularly if collaborators  work in projects, cross-functional and have different backgrounds.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          The only prerequisite for this course? You are willing to step up and lead.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          The methods you will learn help to enhance fruitful collaboration regardless whether you are in a formal leadership position or not. They are designed to integrated diverse perspectives from collaborators with different backgrounds and experiences, and can help to find solutions that are acceptable without making a weak compromise between parties with opposing views.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          This course will help prepare you for working in modern business and research and development environments, in which leadership more and more has become a distributed function in teams of experts with different backgrounds.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          We will train hands-on techniques that help you foster collaboration within a project group or team, integrate the perspectives of partners and stakeholders, and facilitate the generation of new ideas and mutual counseling and problem solving if a project gets stuck.
        </p>
      </section>

      <div class="bg-autumn1 rotate-1 h-[100px] -mb-10"></div>
      <div class="bg-autumn1">

        <section class="container mx-auto px-4 max-w-3xl pt-4">
          <div class="flex flex-row gap-6 md:gap-16">
            <div class="flex-1">
              <h3 class="pb-3 text-xl">
                Modules
              </h3>
              <div class="mb-5 grid grid-cols-[20px_minmax(0,_1fr)] gap-1">
                <div class="text-lg">1</div>
                <p class="pb-2 text-lg max-w-lg">
                  Basics of effective meetings and self-leadership
                </p>
                <div class="text-lg">2</div>
                <p class="pb-2 text-lg max-w-lg">
                  Facilitation techniques to integrate perspectives and address opposing views
                </p>
                <div class="text-lg">3</div>
                <p class="pb-2 text-base max-w-lg">
                  Creating alignment while respecting individual stances and contributions
                </p>
                <div class="text-lg">4</div>
                <p class="pb-2 text-lg max-w-lg">
                  Counseling techniques and insight into stakeholder perspectives to get projects unstuck
                </p>
              </div>

              <h3 class="pb-2 text-xl">
                Basic format
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                4 x ½ day or 2 x 1 day<br>
                online or in person
              </p>

              <h3 class="pb-2 text-xl">
                Participants
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Min 5, max 12
              </p>

              <h3 class="pb-2 text-xl">
                Upgrade
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Individuals or teams can bring a current collaboration challenge and book individual coaching sessions and/or team workshops in between the course days with training input in order to find and reflect on their solutions together under supervision.
                Please ask for an individually tailored package.
              </p>
            </div>
          </div>
        </section>

        <section class="js-contact container mx-auto px-4 max-w-3xl pb-24">
          <div
            class="max-w-xl rounded-3xl py-4"
          >
            <div class="js-contact-btn cursor-pointer">
              <h3 class="text-2xl pb-3">
                Interested in this training?
              </h3>
              <p class="text-secondary3 underline">
                Get in touch
              </p>
            </div>
            <div class="js-contact-form hidden mt-4 text-left text-xl bg-clay1 rounded-2xl">
              {% include 'includes/_contact-form.liquid' checked: 'training' %}
            </div>
          </div>
        </section>

      </div>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
