---
title: "Causable"
description: "Causable supports innovation in business, science and society."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <div class="relative pt-24 pb-36 overflow-hidden">
        <div class="absolute left-1/2 -translate-x-[110px] pt-12 -rotate-25 select-none w-[600px]">
          <img src="/assets/logo/schnuddel_clay.svg" class="w-[600px]">
        </div>
        <section class="container mx-auto px-4 max-w-3xl">
          <div class="relative w-2/3 md:w-1/2">
            <h1 class="text-5xl font-serif">
              Causable supports innovation in business, science and society.
            </h1>
            <p class="mt-8 text-xl font-sans">
              We enable key contributors in your strategic projects to gain new perspectives.
              Foster collaboration and ownership. Lead with clarity. Make sure your teams build
              the right thing – and build things right. Minding both your customers and your organization.
            </p>
            <p class="mt-8 text-xl font-sans">
              If speed is of the essence: ask for hands-on support ad interim or in a fractional role
              in product leadership or engineering management.
            </p>
          </div>
        </section>
      </div>

      <section class="container mx-auto px-4 max-w-5xl py-20">
        <div class="flex flex-col md:grid md:grid-cols-2 gap-14 px-8 md:px-24">
          <a
            class="flex-auto flex flex-col mb-12"
            href="/strategy.html"
          >
            <div class="h-[200px]">
              <img src="/assets/icons/icon_upwards_first.svg" class="w-[180px]">
            </div>
            <h3 class="pb-3 text-2xl serif">Strategy</h3>
            <p class="text-lg max-w-lg">
              Partner with Causable to harness our insights at the nexus of tech, research & development,
              communication and leadership. Craft relevant innovations and products, efficiently.
              Leverage your organization’s expertise to build jointly, and deliver fast and reliably.
            </p>
          </a>
          <a
            class="flex-auto flex flex-col mb-12"
            href="/sparring.html"
          >
            <div class="h-[200px] -mt-[30px] mb-[30px]">
              <img src="/assets/icons/icon_idea.svg" class="w-[130px]">
            </div>
            <h3 class="pb-3 text-2xl serif">Sparring</h3>
            <p class="text-lg max-w-lg">
              Taking the lead on strategic initiatives? Reflecting with a seasoned sparring partner can help you find your own path
              towards leading with grounded confidence and integrity. Develop insights and stay a step ahead by
              understanding what your team requires to excel, and how you can enable yourself and others to gain traction and generate impact.
            </p>
          </a>
          <a
            class="flex-auto flex flex-col mb-12"
            href="/training.html"
          >
            <div class="h-[200px] mt-[20px] -mb-[20px]">
              <img src="/assets/icons/icon_spiral.svg" class="w-[150px]">
            </div>
            <h3 class="pb-3 text-2xl serif">Training</h3>
            <p class="text-lg max-w-lg">
              We help key contributors to flourish in times of change. Judgment, self-leadership,
              working with stakeholders, effective communication and facilitating cross-functional collaboration —
              we equip individuals with effective practices and thought models.
            </p>
          </a>
          <a
            class="flex-auto flex flex-col mb-12"
            href="/interim.html"
          >
            <div class="h-[200px]">
              <img src="/assets/icons/icon_turnaround.svg" class="w-[150px]">
            </div>
            <h3 class="pb-3 text-2xl serif">Interim</h3>
            <p class="text-lg max-w-lg">
              Need immediate support with product leadership or engineering management? Silvia can step in
              as an interim or fractional leader, bringing stability and direction to your team while you
              search for a permanent solution or navigate a critical transition period.
            </p>
          </a>
        </div>
      </section>

      <section class="js-contact container mx-auto px-4 max-w-3xl pt-4">
        <div
          class="mx-auto max-w-[550px] rounded-3xl p-4 bg-clay1 text-gray-700 text-center">
          <div class="js-contact-btn cursor-pointer">
            <span class="p-1 text-3xl ">
              Get in touch
            </span><br>
            <span class="p-1 text-lg">
              What would you like to talk about?
            </span>
          </div>
          <div class="js-contact-form hidden text-left text-xl font-sans">
            {% include 'includes/_contact-form.liquid' %}
          </div>
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl py-24">

        <div class="flex flex-col-reverse md:flex-row-reverse gap-8 font-sans">
          <div class="flex-1">
            <h2 class="text-4xl font-serif pb-4">
              <a href="/about.html">
                About
              </a>
            </h2>
            <p class="text-xl pb-4">
              Dr. Silvia Maier has been leading and facilitating research and product development
              with interdisciplinary and cross-functional teams in science and technology for more
              than 15 years, nationally and internationally. She is a trusted sparring partner
              for C-Level leaders and expert contributors alike, as she draws from her experience
              in leading teams and delivering outcomes across a large variety of settings
              in the service and innovation sectors.
            </p>
            <p>
              <a href="/about.html" class="text-lg text-link hover:underline">
                More
              </a>
            </p>
          </div>
          <div class="flex-1 mt-16">
            <picture class="block">
              <img
                class="w-full"
                width="608px"
                height="439px"
                src="/assets/maier_silvia_annette_boutellier_swiss_young_academy.jpg"
              >
            </picture>
            <div class="text-md text-dark py-1">
              Foto: <a href="https://swissyoungacademy.ch/de/uber-uns/personlich/silvia-maier/">Swiss Young Academy</a>
              <br>© Annette Boutellier
            </div>
          </div>
        </div>

      </section>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
