---
title: "Causable - Interim"
description: "Causable supports innovation in business, science and society."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[180px] py-24">
          <img
            class="w-full"
            src="/assets/icons/icon_turnaround.svg"
            width="130px"
            height="201px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-10">
        <h1 class="text-4xl font-serif pb-8 balanced">
          Interim or fractional management roles
        </h1>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-14">
        <h2 class="text-3xl font-serif pb-8 balanced">
          Interim managers help to to bridge leadership gaps.
          They can help you by supporting key players in your organization,
          and aid to get strategic projects back on track.
        </h2>

        <p class="pb-4 text-xl max-w-xl">
          <strong>Industries:</strong> Technology, Services, Pharmaceuticals & Life Sciences — open to others if you see fit.
        </p>

        <p class="pb-4 text-xl max-w-xl">
          <strong>Roles / Organizations:</strong> Product, Engineering, R&D (with a focus on people management, and/or setting up the organization and its processes so they serve the overarching goals)
        </p>

        <p class="pb-4 text-xl max-w-xl">
          <strong>Easy setup:</strong> You contract with Causable GmbH. They remain the employer, so your project can start on short notice and without red tape. Easy on- and offboarding included.
        </p>

        <p class="pb-4 text-xl max-w-xl">
          <strong>Duration:</strong> Interim — starting ad hoc for a limited project period; fractional — starting upon request for a longer-term, part-time engagement.
        </p>
      </section>

      <div class="bg-clay1 -rotate-6 h-[180px] -mb-20"></div>
      <div class="bg-clay1">
        <section class="container mx-auto px-4 max-w-3xl pb-14">
          <h2 class="text-3xl font-serif pb-8 balanced">
            Helping you expand your strategic headspace and move key projects forward
          </h2>

          <div class="pb-4 text-lg max-w-lg">
            <p class="pb-2">
              <span class="text-base">►</span>
              Do you have an opening on a strategic level that you need to fill ad interim, while you recruit a suitable candidate?
            </p>

            <p class="pb-2">
              <span class="text-base">►</span>
              Did an initiative get stuck and you need to troubleshoot leadership or strategic issues?
            </p>

            <p class="pb-2">
              <span class="text-base">►</span>
              Is one of your key contributors permanently under water, and you need to find ways to make them happy and productive again, while providing immediate relief?
            </p>

            <p class="pb-2">
              <span class="text-base">►</span>
              Do you have a key contributor, whom you want to help develop skills on the job for a next-level leadership role, but don’t find the time yourself during daily business?
            </p>

            <p class="pb-2">
              <span class="text-base">►</span>
              Or do you have another topic that you’d like to push forward, if you had somebody at hand who could quickly dive into it with minimal guidance?
            </p>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <h2 class="text-3xl font-serif pb-8 balanced">
            Interested? Let’s chat about the actual challenge and role to determine mutual fit.
          </h2>


          <p class="pb-4 text-xl max-w-xl">
            To deliver strategic outcomes, Silvia proficiently leads other leaders, and works on eye level with a broad range of direct and indirect stakeholders.
            She facilitates collaboration across functions and departments, and integrates relevant perspectives. Her clients appreciate how quickly she cuts to
            the core of their questions and empowers them to come up with solutions.
          </p>

          <p class="pb-4 text-xl max-w-xl">
            For example, you can ask her to:
          </p>

          <ul class="text-lg list-disc space-y-1 pl-5 max-w-xl">
            <li>
              support leaders in R&D or engineering management
            </li>
            <li>
              build scenarios and decision support for complex tradeoffs
            </li>
            <li>
              optimize processes and structures
            </li>
            <li>
              come up with a business case, underpin it with numbers, and figure out whether it has potential
            </li>
            <li>
              design management systems based on OKRs / KPIs
            </li>
            <li>
              re-design organizational systems and incentive structures
            </li>
            <li>
              help to screen and select potential new hires
            </li>
            <li>
              train your next generation of leaders
            </li>
          </ul>
        </section>
      </div>
      <div class="bg-clay1 rotate-3 h-[100px] -mt-14"></div>

      <section class="container mx-auto pt-10 pb-10 max-w-3xl">
        <h2 class="text-3xl font-serif pb-8 balanced">
          Recently completed projects in a management or consultancy capacity
        </h2>

        <p class="pb-2 text-xl max-w-xl">
          SME (B2B software service provider)
        </p>

        <ul class="text-lg list-none space-y-1 pl-5 pb-8 max-w-xl">
          <li>
            <span class="text-base">▷</span> restructuring from project to product organization
          </li>
          <li>
            <span class="text-base">▷</span> hybrid teams with nearshoring
          </li>
          <li>
            <span class="text-base">▷</span> design and implementation of new development and release processes
          </li>
          <li>
            <span class="text-base">▷</span> improvement of collaboration between product and engineering organization to faster introduce new products
          </li>
        </ul>

        <p class="pb-2 text-xl max-w-xl">
          SME (B2B2C software service provider)
        </p>

        <ul class="text-lg list-none space-y-1 pl-5 pb-8 max-w-xl">
          <li>
            <span class="text-base">▷</span> reorganization to prepare move of the founder from managing daily business to a strategic role in the advisory board
          </li>
          <li>
            <span class="text-base">▷</span> sparring with the executive board on organization design
          </li>
          <li>
            <span class="text-base">▷</span> coaching of new members of the extended company leadership
          </li>
          <li>
            <span class="text-base">▷</span> introduction of tandem leadership (sales & engineering) in a product team
          </li>
          <li>
            <span class="text-base">▷</span> sparring with venture team to develop new PaaS business model
          </li>
        </ul>

        <p class="pb-2 text-xl max-w-xl">
          Corporate Venture (part of a publicly listed holding company)
        </p>

        <ul class="text-lg list-none space-y-1 pl-5 pb-8 max-w-xl">
          <li>
            <span class="text-base">▷</span> development and introduction of a new business model and SaaS products (B2B)
          </li>
          <li>
            <span class="text-base">▷</span> design and implementation of new development and release processes
          </li>
          <li>
            <span class="text-base">▷</span> product management for hardware and software development for IoT-based analytics services
          </li>
          <li>
            <span class="text-base">▷</span> improved customer satisfaction and enabled faster delivery of new software products
          </li>
        </ul>
      </section>

      <section class="js-contact container mx-auto px-4 max-w-3xl pt-4 mb-20">
        <div
          class="max-w-xl rounded-3xl p-4 bg-clay1 text-gray-700"
        >
          <div class="js-contact-btn cursor-pointer">
            <h3 class="text-2xl pb-3">
              How may I help you?
            </h3>
            <p class="text-lg">
              Curious to hear about your challenge!
            </p>
            <p class="text-secondary3 underline pt-3">
              Get in touch
            </p>
          </div>
          <div class="js-contact-form hidden text-left text-xl font-sans">
            {% include 'includes/_contact-form.liquid' checked: 'sparring' %}
          </div>
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-28">
        <picture class="block mt-12">
          <img src="/assets/Cedac_Silvia Maier_RAW0044_web.jpeg"
            class="rounded-full mx-auto max-w-[70%] xl:max-w-[400px]">
          <figcaption class="text-center text-sm pt-4 text-gray-500">
            Foto: Cedac © Claudia Link
          </figcaption>
        </picture>
      </section>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
