---
title: "Causable Training - Leading remote teams"
description: "Leading and collaborating in remote, hybrid and diverse teams"
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[130px] py-16">
          <img
            class="w-full"
            src="/assets/icons/icon_placemark.svg"
            width="205px"
            height="195px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-8">
        <h1 class="text-4xl font-serif balanced">
          Leading and collaborating in remote, hybrid and diverse teams
        </h1>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-14">
        <h2 class="text-3xl font-serif pb-4">
          Content summary
        </h2>
        <p class="pb-2 text-lg max-w-xl">
          Remote and hybrid teams pose lots of leadership and collaboration challenges. As a lead, you may be concerned about team members losing touch when they go through critical phases of work that need a lot of alignment or support from others. As an individual contributor, it may be tough to get all the feedback and inputs you need from your collaborators, which you might have sourced in a half-sentence over lunch or a quick chat in the hallway between meetings, and now you are looking at a clogged agenda and are not sure whether and how to reach out to your colleagues.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          Challenge accepted! According to a recent Gallup study, even one meaningful strengths-based conversation can start to foster high performance relationships. And we won’t stop there. Instead, we’ll learn how a modern team can grow stronger together by addressing challenges of remote and diverse setups.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          In remote or hybrid work settings with diverse and cross-functional teams, fostering relationships with all team members needs a more conscious approach. Meetings have to be facilitated more artfully to include all team members with their contributions. Self-leadership becomes more important, and it requires initiative to source all information and context needed to complete tasks, but it’s equally important to provide information storage and sharing setups that work for all collaborators from anywhere. Eventually, for the team it becomes vital to understand each other’s work styles and needs - for which questions members can be approached and asked to contribute, and when and how this is most conducive to each other’s productivity.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          The common setup of being in one office did not by itself supply this scaffolding, but it made it seemingly easier to approach each other – and now with remote collaboration, we have to spell things out more clearly. This is a chance to grow as a team, contributor and leader.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          In this course, you’ll learn tools and setups honed in a decade of leading remote, hybrid and diverse research, innovation and product teams who constantly deliver high performance and bond to work better together across Europe, Asia and the US.
        </p>
      </section>

      <div class="bg-autumn1 rotate-1 h-[100px] -mb-10"></div>
      <div class="bg-autumn1">

        <section class="container mx-auto px-4 max-w-3xl pt-4">
          <div class="flex flex-row gap-6 md:gap-16">
            <div class="flex-1">
              <h3 class="pb-3 text-xl">
                Modules
              </h3>

              <div class="mb-5 grid grid-cols-[20px_minmax(0,_1fr)] gap-1">
                <div class="text-lg">1</div>
                <p class="pb-2 text-lg max-w-lg">
                  Essentials of remote leadership: challenges and a shifting leadership role
                </p>
                <div class="text-lg">2</div>
                <p class="pb-2 text-lg max-w-lg">
                  Tools to facilitate better online meetings and async communication
                </p>
                <div class="text-lg">3</div>
                <p class="pb-2 text-base max-w-lg">
                  Self-leadership and managing the energy in the room
                </p>
                <div class="text-lg">4</div>
                <p class="pb-2 text-base max-w-lg">
                  Closing the gap: How to lead for relationship building, accountability, and recognizing and harnessing the strengths of a diverse team
                </p>
              </div>

              <h3 class="pb-2 text-xl">
                Basic format
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                2 x ½ day<br>
                online only (to practice facilitation tools and interaction)
              </p>

              <h3 class="pb-2 text-xl">
                Participants
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Min 5, max 12
              </p>

              <h3 class="pb-2 text-xl">
                Upgrade
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Individuals can bring a current leadership challenge and book individual coaching sessions and/or team workshops in between the course days with training input in order to find and reflect on their solutions together under supervision.
                Please ask for an individually tailored package.
              </p>
            </div>
          </div>
        </section>

        <section class="js-contact container mx-auto px-4 max-w-3xl pb-24">
          <div
            class="max-w-xl rounded-3xl py-4"
          >
            <div class="js-contact-btn cursor-pointer">
              <h3 class="text-2xl pb-3">
                Interested in this training?
              </h3>
              <p class="text-secondary3 underline">
                Get in touch
              </p>
            </div>
            <div class="js-contact-form hidden mt-4 text-left text-xl bg-clay1 rounded-2xl">
              {% include 'includes/_contact-form.liquid' checked: 'training' %}
            </div>
          </div>
        </section>

      </div>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
