---
title: "Causable Training - Essentials of self-leadership and productivity"
description: "Learn how to become more productive in order to leave a handprint in the world with outcomes you create."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[120px] py-16">
          <img
            class="w-full"
            src="/assets/icons/icon_spiral.svg"
            width="150px"
            height="144px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-8">
        <h1 class="text-4xl font-serif balanced">
          Essentials of self-leadership and productivity
        </h1>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-14">
        <h2 class="text-3xl font-serif pb-4">
          Content summary
        </h2>
        <p class="pb-2 text-lg max-w-xl">
          <em>Disclaimer 1: This is not a course on time management tools or the fanciest to-do-list approach of the day.</em>
        </p>
        <p class="pb-2 text-lg max-w-xl">
          <em>Disclaimer 2: Essential here does not mean basic.</em>
        </p>
        <p class="pb-2 text-lg max-w-xl">
          Instead, we will dive into the core of what matters to you and what you want to use your limited time for, so that you can create the most impact, systematically learn to hone your skill set and become productive to leave a handprint in the world with outcomes you create.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          Self-leadership is the first step towards being a good role model and productive team lead.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          You will learn how to learn to know and lead yourself to optimize for your creative output as an individual contributor in a cross-functional team and also as a (thought)  leader of such teams when you need to deliver that big hairy goal over a long stretch of time, and have to work out how to stay resilient when overcoming obstacles on the way.
        </p>
      </section>

      <div class="bg-autumn1 rotate-1 h-[100px] -mb-10"></div>
      <div class="bg-autumn1">

        <section class="container mx-auto px-4 max-w-3xl pt-4">
          <div class="flex flex-row gap-6 md:gap-16">
            <div class="flex-1">
              <h3 class="pb-3 text-xl">
                Modules
              </h3>
              <div class="mb-5 grid grid-cols-[20px_minmax(0,_1fr)] gap-1">
                <div class="text-lg">1</div>
                <p class="pb-2 text-lg max-w-lg">
                  Your essential intent
                </p>
                <div class="text-lg">2</div>
                <p class="pb-2 text-lg max-w-lg">
                  Skills frameworks and how to use them to develop yourself
                </p>
                <div class="text-lg">3</div>
                <p class="pb-2 text-base max-w-lg">
                  A personal roadmap: How to live your values and hold yourself accountable
                </p>
              </div>

              <h3 class="pb-2 text-xl">
                Basic format
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                2 x ½ day or 1 full day<br>
                online or in person
              </p>

              <h3 class="pb-2 text-xl">
                Participants
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Min 5, max 12
              </p>

              <h3 class="pb-2 text-xl">
                Upgrade 1
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                This can be upgraded by combining individual training with a short introduction for the whole team as well a module facilitated by Causable in order to optimize common workflows in the team to accomodate self-leadership needs of team members and negotiate and optimize overall team productivity.
              </p>

              <h3 class="pb-2 text-xl">
                Upgrade 2
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                An additional focus (1/2 day module: „Resilience – from daily hassles to overcoming roadblocks and pivoting“) can be added to cover resilience for both individuals and the elements of resilient team structures.
              </p>
            </div>
          </div>
        </section>

        <section class="js-contact container mx-auto px-4 max-w-3xl pb-24">
          <div
            class="max-w-xl rounded-3xl py-4"
          >
            <div class="js-contact-btn cursor-pointer">
              <h3 class="text-2xl pb-3">
                Interested in this training?
              </h3>
              <p class="text-secondary3 underline">
                Get in touch
              </p>
            </div>
            <div class="js-contact-form hidden mt-4 text-left text-xl bg-clay1 rounded-2xl">
              {% include 'includes/_contact-form.liquid' checked: 'training' %}
            </div>
          </div>
        </section>

      </div>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
