---
title: "Causable - Sparring"
description: "Causable supports innovation in business, science and society."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[180px] py-24">
          <img
            class="w-full"
            src="/assets/icons/icon_idea.svg"
            width="130px"
            height="201px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-10">
        <h1 class="text-4xl font-serif pb-8 balanced">
          Sparring partnerships
        </h1>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-14">
        <h2 class="text-3xl font-serif pb-4 balanced">
          Develop new perspectives on strategy, innovation and development
        </h2>

        <p class="pb-4 text-xl max-w-xl">
          Would you like to craft your own path towards leading successful strategic initiatives,
          change and innovation? A sparring partnership might put you a decisive step ahead by
          helping you anticipate what your teams need from you so they can deliver.
        </p>

        <p class="pb-4 text-xl max-w-xl">
          Sparring on strategic perspectives and their own approach and challenges can help leaders
          develop their own take on leading initiatives towards impact. If you look to develop or fine-tune your
          approach to designing structures and processes, and to building and leading resilient
          and high-performing teams that drive innovation and change, we might be a match.
        </p>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-14">
        <h2 class="text-3xl font-serif pb-4 balanced">
          Is this for you?
        </h2>

        <p class="pb-4 text-xl max-w-xl">
          At Causable, we back you with in-depth knowledge on good governance from applying behavioral economics
          insights in various sectors and organizations. On the individual level, Dr. Silvia Maier’s perspective
          is informed by up-to-date foundations how to build workplaces in which people thrive and perform.
        </p>

        <p class="pb-4 text-xl max-w-xl">
          We work with those who lead, or are aspiring to lead more in their roles, and want to do so with grounded confidence and integrity:
        </p>

        <div class="text-lg max-w-lg pb-8">
          <p class="pb-2">
            <span class="text-base">►</span>
            executive board members
          </p>
          <p class="pb-2">
            <span class="text-base">►</span>
            entrepreneurs
          </p>
          <p class="pb-2">
            <span class="text-base">►</span>
            change and innovation leads
          </p>
          <p class="pb-2">
            <span class="text-base">►</span>
            leads in cross-functional settings
          </p>
          <p class="pb-2">
            <span class="text-base">►</span>
            research & development leads
          </p>
          <p class="pb-2">
            <span class="text-base">►</span>
            data science leads
          </p>
          <p class="pb-2">
            <span class="text-base">►</span>
            engineering leads
          </p>
        </div>

        <p class="pb-4 text-xl max-w-xl">
          Causable serves as a trusted space and sounding board for those who want to know what we can create and be as humans, in our own lives and for others:
        </p>

        <ul class="text-lg list-disc space-y-1 pl-5 max-w-xl">
          <li>
            Do you want to know who you can become as a leader and enabler of collaboration?
          </li>
          <li>
            Are you heading new initiative or feel a need to reflect on your work?
          </li>
          <li>
            Do you see a growth or innovation challenge for your organization, team, or own life that you want to act upon?
          </li>
          <li>
            Are you an expert in your field who wants to support strategic initiatives, and would like to be heard better by others?
          </li>
        </ul>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-10">
        <h2 class="text-3xl font-serif pb-4 balanced">
          Causable means: What can be brought to life?
        </h2>

        <p class="pb-4 text-xl max-w-xl">
          Using a systems-based, transformative approach to executive and leadership coaching developed at the University of St. Gallen,
          Dr. Silvia Maier supports you in finding a path to the solution you seek to build. When she holds space for exploring complex questions and settings,
          her clients appreciate how she accomodates fast thinkers and learners, and connects the dots quickly.
        </p>

        <p class="pb-4 text-xl max-w-xl">
          At the same time, she knows when to hit the brakes and go deep on a topic. As a sparring partner, Silvia appreciates deep subject matter expertise
          and makes it shine. She keeps a spotlight on clear communication, and supports you in keeping track of your overarching goals.
        </p>

        <p class="pb-4 text-xl max-w-xl">
          Strategy, business models, leadership challenges, organization, tools and skills, and the development of your leadership approach during your journey –
          let’s find out together what you and your team need to gain traction and generate impact.
        </p>
      </section>


      <section class="js-contact container mx-auto px-4 max-w-3xl pt-4 mb-20">
        <div
          class="max-w-xl rounded-3xl p-4 bg-clay1 text-gray-700"
        >
          <div class="js-contact-btn cursor-pointer">
            <h3 class="text-2xl pb-3">
              Interested in sparring sessions?
            </h3>
            <p class="text-lg">
              Sparring sessions can be booked on a case by case basis or in
              packages for a deeper dive to work together over a longer period.
            </p>
            <p class="text-secondary3 underline pt-3">
              Get in touch
            </p>
          </div>
          <div class="js-contact-form hidden text-left text-xl font-sans">
            {% include 'includes/_contact-form.liquid' checked: 'sparring' %}
          </div>
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-28">
        <picture class="block mt-12">
          <img src="/assets/Cedac_Silvia Maier_RAW0044_web.jpeg"
            class="rounded-full mx-auto max-w-[70%] xl:max-w-[400px]">
          <figcaption class="text-center text-sm pt-4 text-gray-500">
            Foto: Cedac © Claudia Link
          </figcaption>
        </picture>
      </section>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
