---
title: "Causable - Strategy"
description: "Causable supports innovation in business, science and society."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-scree">

      <section>
        <div class="mx-auto w-[300px] pt-24 pb-20">
          <img
            class="w-full"
            src="/assets/icons/icon_upwards_first.svg"
            width="300px"
            height="253px">
        </div>
      </section>

      <div class="bg-primary1">
        <section class="container mx-auto px-4 max-w-3xl pt-14 pb-10">
          <h1 class="text-4xl font-serif balanced">
            Strategy
          </h1>
        </section>

        <div class="relative">
          <div class="absolute -top-[200px] -left-[800px] w-[1200px] h-[1200px] bg-primary2 rounded-full opacity-5"></div>
        </div>

        <section class="container mx-auto px-4 max-w-3xl pb-14">
          <h2 class="text-3xl font-serif pb-4 balanced">
            Generate great solutions
          </h2>

          <p class="pb-4 text-xl max-w-xl">
            Would you like to create new digital business models and products by leveraging the expertise of your organization in cross-functional solution teams? Work already in the strategy stage with Causable to profit from our deep expertise at the intersection of research and technology, professional communication, product development and leadership and organization of such cross-functional solution teams.
          </p>

          <p class="pb-4 text-xl max-w-xl">
            Causable works with boards, directors, leaders and expert contributors on all levels of innovation to create and position new business fields, solutions, digital service business models and products: starting from the strategy stage with visioning and business model generation up to implementing strategies so that your team learns how to run its own innovation machine to continuously generate new solutions for your customers.
          </p>

          <p class="pb-4 text-xl max-w-xl">
            When you bring new products and services to a market, velocity often makes the difference – that is speed times getting the direction right. To speed things up, it matters to learn better together – why your offer matters, where to go for your clients and stakeholders, and how to do so while you productize your offers and improve the operating system of your business. Here’s where Causable comes in with a methodology and expertise honed in cross-functional teams that develop innovative solutions in research and in the B2B and B2B2C domains.
          </p>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-14">
          <h2 class="text-3xl font-serif pb-4 balanced">
            Learn to tune your operating system
          </h2>

          <p class="pb-4 text-xl max-w-xl">
            Research shows that all successful businesses understand two things: their own customer value proposition, and how to build an operating system for their business such that they can uniquely deliver that value proposition at scale and over time.
          </p>

          <p class="pb-4 text-xl max-w-xl">
            If your teams collaborate better and learn faster what your internal and external customers need, you’ll gain velocity and you can harness their unique insights to improve both your product and your strategic approach to your business.
          </p>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-14">
          <h2 class="text-3xl font-serif pb-4 balanced">
            Become an innovation leader
          </h2>

          <p class="pb-4 text-xl max-w-xl">
            When you are asked to generate solutions under pressure or in complex situations, you want to choose a promising approach and be able to iterate quickly while steering your course confidently. A strong enabler for this is learning from diverse perspectives. You may already know who needs to be in the room for this - but how do you lead them to a productive interaction so that you all can learn from each other's perspectives, and transform their learnings into a success for your initiative?
          </p>

          <p class="pb-4 text-xl max-w-xl">
            Using deep expertise at the intersection of research and technology, professional communication, product development and leadership and organization of cross-functional solution teams, Causable supports you in crafting your unique strategy.
          </p>

          <p class="pb-4 text-xl max-w-xl">
            We appreciate together what uniquely positions you for success and help you see what can become of your initiative and how to make it fly. Causable also supports you throughout the implementation phase with sparring partnerships and customized trainings that complement your strategy. We help you and your innovation leaders become facilitators and multipliers for impact and help them learn how to unlock the potential of your key players and cross-functional teams.
          </p>
        </section>

        <section class="js-contact container mx-auto px-4 max-w-3xl pb-24">
          <div
            class="max-w-xl rounded-3xl py-4"
          >
            <div class="js-contact-btn cursor-pointer">
              <h3 class="text-2xl pb-3 balanced">
                Interested in strategy consulting?
              </h3>
              <p class="text-primary3 underline">
                Get in touch
              </p>
            </div>
            <div class="js-contact-form hidden mt-4 text-left text-xl border border-gray-800 rounded-2xl">
              {% include 'includes/_contact-form.liquid' checked: 'strategy' %}
            </div>
          </div>
        </section>

      </div>
    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
