---
title: "Causable Training - Targeted communication"
description: "Improve your storytelling skills to relay complex ideas to specific audiences."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[110px] py-12">
          <img
            class="w-full"
            src="/assets/icons/icon_embrace.svg"
            width="186px"
            height="185px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-8">
        <h4 class="text-lg">
          Targeted communication
        </h4>
        <h1 class="text-4xl font-serif balanced">
          Improve your storytelling skills to relay complex ideas to specific audiences
        </h1>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-14">
        <h2 class="text-3xl font-serif pb-4">
          Content summary
        </h2>
        <p class="pb-2 text-lg max-w-xl">
          Storytelling is a core skill for people leads and experts alike: Why do you do what you do, what do others need to know about it, and why should they join or listen?
        </p>
        <p class="pb-2 text-lg max-w-xl">
          You tell stories every day at work. Done right, this is a powerful tool in your belt in order to be influential, convincing, and a better advocate for your product, idea or cause. However, there is a catch: Many ideas we have to spell out nowadays refer to complex problems or depend on ever-adapting environments, and to do the subject matter justice, you need not just to simplify, but to break down complexity in a useful way.
        </p>
        <p class="pb-2 text-lg max-w-xl">
          Have you experienced as a lead that your team doesn’t seem to catch or is reluctant to accept why your plan needs to change again and again? As an expert or engineering lead, would you like to learn more about how to better communicate with your stakeholders about your plans and system needs?
        </p>
        <p class="pb-2 text-lg max-w-xl">
          Then this course is for you. It combines training on the art of storytelling with a lot of practical elements, so be prepared to bring your own case for storytelling that you want to work on during the class.
        </p>
      </section>

      <div class="bg-autumn1 rotate-1 h-[100px] -mb-10"></div>
      <div class="bg-autumn1">

        <section class="container mx-auto px-4 max-w-3xl pt-4">
          <div class="flex flex-row gap-6 md:gap-16">
            <div class="flex-1">
              <h3 class="pb-3 text-xl">
                Modules
              </h3>

              <div class="mb-5 grid grid-cols-[20px_minmax(0,_1fr)] gap-1">
                <div class="text-lg">1</div>
                <p class="pb-2 text-lg max-w-lg">
                  Essentials of style
                </p>
                <div class="text-lg">2</div>
                <p class="pb-2 text-lg max-w-lg">
                  Storytelling frameworks
                </p>
                <div class="text-lg">3</div>
                <p class="pb-2 text-base max-w-lg">
                  Breaking down complexity
                </p>
                <div class="text-lg">4</div>
                <p class="pb-2 text-base max-w-lg">
                  Being convincing
                </p>
              </div>

              <h3 class="pb-2 text-xl">
                Basic format
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                2 x ½ day or 1 full day<br>
                online or in person
              </p>

              <h3 class="pb-2 text-xl">
                Participants
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                Min 3, max 8
              </p>

              <h3 class="pb-2 text-xl">
                Upgrade
              </h3>
              <p class="pb-5 text-lg max-w-lg">
                This can be upgraded by combining individual training with hands-on communication support by Causable, for example during change communication, crisis communication or for technical writing. Please ask us for a personalized offer.
              </p>
            </div>
          </div>
        </section>

        <section class="js-contact container mx-auto px-4 max-w-3xl pb-24">
          <div
            class="max-w-xl rounded-3xl py-4"
          >
            <div class="js-contact-btn cursor-pointer">
              <h3 class="text-2xl pb-3">
                Interested in this training?
              </h3>
              <p class="text-secondary3 underline">
                Get in touch
              </p>
            </div>
            <div class="js-contact-form hidden mt-4 text-left text-xl bg-clay1 rounded-2xl">
              {% include 'includes/_contact-form.liquid' checked: 'training' %}
            </div>
          </div>
        </section>

      </div>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
