---
title: "Causable - Training"
description: "Causable supports innovation in business, science and society."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[250px] py-24">
          <img
            class="w-full"
            src="/assets/icons/icon_spiral.svg"
            width="150px"
            height="144px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-4">
        <h1 class="text-4xl font-serif">
          Trainings
        </h1>

        <p class="mt-4 text-xl max-w-lg">
          Causable provides knowledge and tried and tested practices for you in compact courses.
        </p>

        <p class="mt-4 text-xl max-w-lg">
          We tailor all our courses for your specific growth challenge and work with you and your team in German or English, digital or in person.
        </p>
      </section>

      <section class="js-contact container mx-auto px-4 max-w-3xl pt-4 mb-10">
        <div
          class="max-w-xl rounded-3xl py-4"
        >
          <div class="js-contact-btn cursor-pointer">
            <h3 class="text-2xl pb-3">
              Interested in trainings?
            </h3>
            <p class="text-secondary3 underline">
              Get in touch
            </p>
          </div>
          <div class="js-contact-form hidden mt-4 text-left text-xl bg-clay1 rounded-2xl">
            <form
              action="https://formspree.io/f/xjvqjbjg"
              method="POST"
              class="px-8 pt-12 mb-4"
            >
              <div class="mb-4">
                <label
                  for="email"
                  class="block text-gray-700 mb-2"
                >
                  Your email*
                </label>
                <input
                  type="email"
                  name="email"
                  required
                  class="p-2 min-w-[400px] focus:outline-secondary3"
                >
                <p class="text-xs text-gray-600 pt-2">
                  * Required
                </p>
              </div>
              <div class="mb-6">
                <p class="balanced text-xl block text-gray-700 mb-2">
                  I am interested in
                </p>

                <div>
                  <input class="focus:outline-secondary3" type="checkbox" name="strategy" id="strategy" value="strategy">
                  <label class="pl-1 cursor-pointer" for="strategy">Strategy</label>
                </div>

                <div>
                  <input class="focus:outline-secondary3" type="checkbox" name="sparring" id="sparring" value="sparring">
                  <label class="pl-1 cursor-pointer" for="sparring">Sparring</label>
                </div>

                <div>
                  <input checked class="focus:outline-secondary3" type="checkbox" name="training" id="training" value="training">
                  <label class="pl-1 cursor-pointer" for="training">Training</label>
                </div>

              </div>
              <div class="mb-6">
                <label
                  for="message"
                  class="balanced text-xl block text-gray-700 mb-2"
                >
                  Anything in particular you would like to talk about?
                </label>
                <textarea
                  name="message"
                  rows="3"
                  class="p-2 min-w-[400px] focus:outline-secondary3"
                ></textarea>
              </div>
              <div class="flex items-center justify-between">
                <button
                  type="submit"
                  class="py-2 px-4 font-bold bg-secondary3  hover:bg-secondary4 text-white rounded focus:outline-black"
                >Send</button>
                <div>
                  <p class="balanced text-ld max-w-xs text-gray-600">
                    <em>Once you hit send we'll be in touch shortly.</em>
                  </p>
                </div>
              </div>
              <div>
                <p class="pt-10 pb-2 text-xs text-gray-600">
                  Your data will be used only to contact you. Nothing else.
                </p>
              </div>
            </form>
          </div>
        </div>
      </section>

      <div class="bg-clay1 -rotate-2 h-[100px] -mb-10"></div>
      <div class="bg-clay1">

        <section class="container mx-auto px-4 max-w-3xl pt-10 pb-24">
          <div class="flex flex-row gap-6 md:gap-16 lg:-ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_placemark.svg"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl">
                Leading remote, hybrid and diverse teams
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Remote and hybrid teams pose lots of leadership and collaboration challenges.
              </p>
              <p class="pb-2 text-lg max-w-lg">
                In this course, you’ll learn tools and setups honed in a decade of leading remote,
                hybrid and diverse research, innovation and product teams who constantly
                deliver high performance and forge bonds to work better together
                across Europe, Asia and the US.
              </p>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row-reverse gap-6 md:gap-16 lg:ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px]">
              <img
                class="w-full"
                src="/assets/icons/icon_idea.svg"
                width="130px"
                height="201px"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl">
                Facilitation tools for leadership and collaboration
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Have you been part of meetings that dragged on forever,
                but achieved little in the end? Learn to lead yourself and others.
              </p>
              <p class="pb-2 text-lg max-w-lg">
                This course will show you how you can use established facilitation methods
                to enable good communication and collaboration in teams.
                Particularly useful if your collaborators also work in projects,
                cross-functional teams, and have different backgrounds.
              </p>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row gap-6 md:gap-16 lg:-ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_turnaround.svg"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl">
                Cross-functional leadership bootcamp
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                This hands-on course brings you up to speed on the basics of building and
                guiding cross-functional teams.
              </p>
              <p class="pb-2 text-lg max-w-lg">
                From roles and responsibilities, building and prioritizing a roadmap,
                over holding each other accountable to delivering outcomes and
                learn how to use tools to improve team cognitions that make your
                collaborations more effective.
              </p>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row-reverse gap-6 md:gap-16 lg:ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_spiral.svg"
                width="150px"
                height="144px"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl">
                Essentials of self-leadership and productivity
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Self-leadership is the first step towards being a good role model and productive
                team lead.
              </p>
              <p class="pb-2 text-lg max-w-lg">
                We will dive into the core of what matters to you and what you want to use
                your limited time for so that you can create the most impact,
                systematically learn to hone your skill set and your productivity
                to leave a handprint in the world.
              </p>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row gap-6 md:gap-16 lg:-ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_embrace.svg"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl">
                <span class="text-lg">Targeted communication</span><br>
                Improve your storytelling skills to relay complex ideas to specific audiences
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Have you experienced as a lead that your team doesn’t seem to catch on or
                is reluctant to accept why the plan needs to change again and again?
              </p>
              <p class="pb-2 text-lg max-w-lg">
                As an expert or engineering lead, would you like to learn more about how to
                better communicate with your stakeholders about your plans and system needs?
                This course is for you. It combines training on the art of storytelling with
                a lot of hands-on elements, so be prepared to bring and refine your case.
              </p>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row-reverse gap-6 md:gap-16 lg:ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_shaky_build.svg"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl">
                Cross-functional leadership masterclasses
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Master classes contain a ½ day up to 2 day deep dive into one of the modules.
                The prerequisite for these courses is experience and bringing a
                current case that the attendees are willing to share and work on in the course.
              </p>
            </div>
          </div>
        </section>
      </div>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
