---
title: "Causable - Training"
description: "Overview over the trainings that Causable offers."
---
<!doctype html>
<html lang="de">
  {% include 'templates/_head.liquid' %}
  <body class="bg-white font-sans">
    {% include 'templates/_header.liquid' %}

    <div class="h-20"></div>

    <main class="min-h-screen">

      <section>
        <div class="mx-auto w-[250px] py-24">
          <img
            class="w-full"
            src="/assets/icons/icon_spiral.svg"
            width="150px"
            height="144px"
          >
        </div>
      </section>

      <section class="container mx-auto px-4 max-w-3xl pb-4 mb-10">
        <h1 class="text-4xl font-serif">
          Trainings
        </h1>

        <p class="mt-4 text-xl max-w-lg">
          Causable provides knowledge and tried and tested practices for you in compact courses.
        </p>

        <p class="mt-4 text-xl max-w-lg">
          We tailor all our courses for your specific growth challenge and work with you and your team in German or English, digital or in person.
        </p>
      </section>

      <div class="bg-clay1 -rotate-2 h-[100px] -mb-10"></div>
      <div class="bg-clay1">

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row gap-6 md:gap-16 lg:-ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px]">
              <img
                class="w-full"
                src="/assets/icons/icon_idea.svg"
                width="130px"
                height="201px"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl balanced">
                Facilitation tools for leadership and collaboration
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Have you been part of meetings that dragged on forever,
                but achieved little in the end? Learn to lead yourself and others.
              </p>
              <p class="pb-2 text-lg max-w-lg">
                This course will show you how you can use established facilitation methods
                to enable good communication and collaboration in teams.
                Particularly useful if your collaborators also work in projects,
                cross-functional teams, and have different backgrounds.
              </p>
              <a href="/facilitation-tools.html" class="text-secondary3 underline text-lg">
                Learn more
              </a>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row-reverse gap-6 md:gap-16 lg:ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_placemark.svg"
                width="205px"
                height="195px"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl balanced">
                Leading remote, hybrid and diverse teams
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Remote and hybrid teams pose lots of leadership and collaboration challenges.
              </p>
              <p class="pb-2 text-lg max-w-lg">
                In this course, you’ll learn tools and setups honed in a decade of leading remote,
                hybrid and diverse research, innovation and product teams who constantly
                deliver high performance and forge bonds to work better together
                across Europe, Asia and the US.
              </p>
              <a href="/leading-remote-teams.html" class="text-secondary3 underline text-lg">
                Learn more
              </a>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row gap-6 md:gap-16 lg:-ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_turnaround.svg"
                width="211px"
                height="225px"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl balanced">
                Cross-functional leadership bootcamp
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                This hands-on course brings you up to speed on the basics of building and
                guiding cross-functional teams.
              </p>
              <p class="pb-2 text-lg max-w-lg">
                From roles and responsibilities, building and prioritizing a roadmap,
                over holding each other accountable to delivering outcomes and
                learn how to use tools to improve team cognitions that make your
                collaborations more effective.
              </p>
              <a href="/cross-functional-leadership.html" class="text-secondary3 underline text-lg">
                Learn more
              </a>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row-reverse gap-6 md:gap-16 lg:ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_spiral.svg"
                width="150px"
                height="144px"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl balanced">
                Essentials of self-leadership and productivity
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Self-leadership is the first step towards being a good role model and productive
                team lead.
              </p>
              <p class="pb-2 text-lg max-w-lg">
                We will dive into the core of what matters to you and what you want to use
                your limited time for so that you can create the most impact,
                systematically learn to hone your skill set and your productivity
                to leave a handprint in the world.
              </p>
              <a href="/self-leadership-essentials.html" class="text-secondary3 underline text-lg">
                Learn more
              </a>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row gap-6 md:gap-16 lg:-ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_embrace.svg"
                width="186px"
                height="185px"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl balanced">
                <span class="text-lg">Targeted communication</span><br>
                Improve your storytelling skills to relay complex ideas to specific audiences
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Have you experienced as a lead that your team doesn’t seem to catch on or
                is reluctant to accept why the plan needs to change again and again?
              </p>
              <p class="pb-2 text-lg max-w-lg">
                As an expert or engineering lead, would you like to learn more about how to
                better communicate with your stakeholders about your plans and system needs?
                This course is for you. It combines training on the art of storytelling with
                a lot of hands-on elements, so be prepared to bring and refine your case.
              </p>
              <a href="/targeted-communication.html" class="text-secondary3 underline text-lg">
                Learn more
              </a>
            </div>
          </div>
        </section>

        <section class="container mx-auto px-4 max-w-3xl pb-24">
          <div class="flex flex-row-reverse gap-6 md:gap-16 lg:ml-14">
            <div class="flex-initial w-[80px] sm:w-[110px] md:w-[130px] pt-3">
              <img
                class="w-full"
                src="/assets/icons/icon_shaky_build.svg"
                width="171px"
                height="238px"
              >
            </div>
            <div class="flex-1">
              <h3 class="pb-3 text-2xl balanced">
                Self-leadership masterclass
              </h3>
              <p class="pb-2 text-lg max-w-lg">
                Masterclasses contain a ½ day up to 2 day deep dive into one of the modules.
                The prerequisite for these courses is experience and bringing a
                current case that the attendees are willing to share and work on in the course.
              </p>
              <a href="/self-leadership-masterclass.html" class="text-secondary3 underline text-lg">
                Learn more and Book now!
              </a>
            </div>
          </div>
        </section>
      </div>

    </main>

    {% include 'templates/_footer.liquid' %}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
